
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
    background-color: #ffc0cb; 
    
    /* Białe krawędzie */
    background-image: 
    radial-gradient(white 3px, transparent 1%),
    radial-gradient(white 3px, transparent 1%);
    
    /* Wielkość rombu */
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;

    background-attachment: fixed;
}

.content {
    background-color: #ffc0cb;
    /*
    background-image: 
    radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    */
}

.flipbook {
    width: 1000px;
    height: 600px;
}

.flipbook .hard {
    padding: 0 !important; 
    background-color: #b32415 !important;
    overflow: hidden;
    display: block !important; 
}

.flipbook .hard img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: #f0eddc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.flipbook .last {
    background: #b32415;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 100%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}

.chomik-page {
    position: relative !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.chomik-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    z-index: 1;
}

.btn-love {
    position: absolute;
    z-index: 999 !important; 
    padding: 12px 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 0.1s ease;
}


#yesBtn {
    background-color: #28a745;
    color: white;
    left: 30%;
    bottom: 15%;
}


#noBtn {
    background-color: #dc3545;
    color: white;
    left: 55%;
    bottom: 15%;
    transition: all 0.15s ease-out; 
}