
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
    background-color: #ffc0cb; 
    
    /* Białe krawędzie */
    background-image: 
    radial-gradient(white 3px, transparent 1%),
    radial-gradient(white 3px, transparent 1%);
    
    /* Wielkość rombu */
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;

    background-attachment: fixed;
}

.content {
    background-color: #ffc0cb;
    /*
    background-image: 
    radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    */
}

.flipbook {
    width: 1000px;
    height: 600px;
}

.flipbook .hard {
    /* Używamy konkretnych właściwości zamiast ogólnego 'background' */
    background-color: #b32415 !important;
    
    /* Kod SVG z poprawionym kodowaniem i wyższym opacity (0.5), żeby było lepiej widać */
    background-image: url("/images/heart.svg"),
    url("/images/heart.svg");
     
    
   
    
    background-size: 60px 60px !important;
    background-position: 0 0, 40px 40px !important;
    background-repeat: repeat !important;

    color: #fff;
    font-weight: bold;
    border: none; 
    
    /* Centrowanie zawartości */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 70%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}